h1 {
  text-align: center;
  color: black;
}

#infoData {
  border-collapse: collapse;
  width: 100%;
}

#infoData td,
#infoData th {
  border: 1px solid #ddd;
  padding: 8px;
}

#infoData tr:nth-child(even) {
  background-color: #f2f2f2;
}

#infoData tr:hover {
  background-color: #ddd;
}

#infoData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;
}


